html {
    font-family:'Comfortaa';
}

#header {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

#title {
    text-align: center;
    width: 150px;
}

#time {
    font-size: 50px;
    text-align: center;
}

#date {
    font-size: 28px;
    text-align: center;
}

/* migliorare navbar per il flex box */
#navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
}

#navbar {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    margin: 0;
    padding: 0;
}

#navbar li{
    float: right;
}

#navbar li a{
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}

#navbar li a:visited,
#navbar li a:hover,
#navbar li a:active {
    color: inherit;
}

#mainframe {
    margin: 0 10%;
}

#earth-container {
    z-index: 5;
    border: solid white;
    border-width: 4px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 4px;
}

/* globo degli stati */
#chartdiv {
    z-index: 0;
    width: 100%;
    height: 400px;
    max-width: 100%;
}

#searchBar-container {
    text-align: center;
    padding: 20px 0px;
}

/* barra di ricerca delle città */
#searchBar {
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 0px solid #aaa; 
}

/* animazione per la barra di ricerca */
#searchBar:focus {
    border-bottom: 2px solid #aaa;
    transition: border-bottom 0.4s;
}

.cities-block {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Stili CSS per il singolo blocco della città */
.city {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

/* Stili CSS per il nome della città */
.city h2 {
    margin: 0;
    font-size: 24px;
    order: -1;
    flex: 1 0 100%;
}

/* CSS del blocco di tutte le riguardanti la città */
.city-info {
    display: flex;
    flex-direction: row;
    flex: 1;
}

/* CSS dei dati meteo */
.city-weather {
    padding-top: 10px;
    margin-right: 10px;
    width: 60%;
    flex: -1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 16px;
}

/* CSS di tutti gli elementi meteo.
CAMBIARE E RENDERLO SPECIFICO PER OGNI TIPO
AGGIUNGERE UN CLASS/ID AD OGNI BLOCCO */
.city-weather div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.city-weather dov {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
}

/* CSS mappa città */
.city-map {
    flex: 1;
}

.loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Centrare l'animazione */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.city-weather {
    align-items: center;
}

.temperature-line-container {
    align-self: center;
    position: relative;
    width: 88%; /* Regola questa percentuale secondo le tue esigenze */
    height: 8px; /* Più fine */
    background: linear-gradient(to right, blue, green, yellow, orange, red);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.temperature-dot {
    position: absolute;
    top: -4px; /* Centra verticalmente la linea */
    left: 0; /* Posiziona la linea all'inizio del container */
    width: 1px; /* Larghezza della linea */
    height: 16px; /* Altezza della linea */
    background: white; /* Colore della linea */
    border
    : black; /* Rimuovi il bordo */
}

.city {
    position: relative; /* Assicura che .city sia un contenitore relativo */
}

.city-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ridimensiona l'immagine al 100% della larghezza del contenitore */
    height: 100%; /* Ridimensiona l'immagine al 100% dell'altezza del contenitore */
    z-index: -1; /* Assicura che l'immagine sia dietro agli altri contenuti */
    opacity: 35%;
}

.city img{
    overflow: hidden;
}